body {
	font-family: 'Monospace', monospace;
	background-color: #343a40
}

#body {
	color: white;
    animation: blinker 2.5s linear infinite;
}

#footer {
	color: rgb(17, 103, 189);
}

.innerbody {
	background-color: black;
    background-image: url(kakkerlak.gif);
	background-size: 60px, 60px;
}

.role {
	color: white;
}

.btn {
	color: white;
}

.btn:hover {
	color: white;
}

.card {
	background-color: white;
	color: black;
}

.stukje {
	background-color: white;
}

.list-group {
	color: black;
}

.read-row {
	background-color: white;
	border-radius: .25rem;
}

.row {
	color: black;
}

p {
	background-color: white;
	color: black;
	border-radius: .25rem;
	padding: .5rem;
}

.schrijfregels {
	background-color: white;
	color: black;
	border-radius: .25rem;
	padding: .5rem;
}
  
@keyframes blinker {
    0% { background: rgba(0,0,0,0.5);}
    10% { background: rgba(255, 0, 0, 0.5);}
    20% { background: rgba(0,0,0,0.5);}
    30% { background: rgba(255, 251, 0, 0.5);}
    40% { background: rgba(0,0,0,0.5);}
    50% { background: rgba(0, 255, 0, 0.5);}
    60% { background: rgba(0,0,0,0.5);}
    70% { background: rgba(0, 153, 255, 0.5);}
    80% { background: rgba(0,0,0,0.5);}
    90% { background: rgba(255, 1, 213, 0.5);}
    100% { background: rgba(0,0,0,0.5);}
}