body {
	font-family: 'Times New Roman', Times, serif;
	background-image: none;
	background-color: rgb(238, 147, 197)
}

#body {
	background: rgb(238, 147, 197) none;
	color: white;
}

hr {
	border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.role {
	color: white;
}

.btn {
	color: white;
}

.btn:hover {
	color: white;
}

.card {
	background-color: lavenderblush;
	color: black;
}

.text-grey {
	color: rgb(230,230,230);
}

.form-control {
	background-color: lavenderblush;
}

.form-control:focus {
	background-color: lavenderblush;
}


.form-control:disabled {
	background-color: rgb(250, 217, 228);
}

.click-text {
	color: white;
}

.table-color1 {
	background-color: rgb(250, 217, 228);
	color: black;
}

.table-color2 {
	background-color: lavenderblush;
	color: black;
}