@font-face {
	font-family: 'InstalledComicSans';
	src: url(ComicSans.ttf);
}

body {
	font-family: InstalledComicSans, "Comic Sans MS";
	background-color: #343a40;
}

#body {
	background: rgba(245,232,204,0.6);
}

.innerbody {
	background-image: url('banana-dance.gif');
	background-size: 40px 40px;
	background-color: #ff7f00;
}

#footer {
	color: rgb(17, 103, 189);
}
