body {
	font-family: 'Times New Roman', Times, serif;
	background-color: goldenrod;
}

#body {
	background-color: goldenrod;
	background-image: url(gold.jpg);
	background-size: 690px 460px;
	color: white;
	box-shadow: -5px -5px 20px darkgoldenrod;
}

.role {
	color: white;
}

.btn {
	color: white;
}

.btn:hover {
	color: white;
}

.card {
	background-color: white;
	color: black;
}

.card-header {
	color: black;
}

.stukje {
	background-color: goldenrod;
}

.list-group-item {
	color: black;
	background-color: rgb(219, 190, 114);
}

.list-group {
	background-color: rgb(219, 190, 114);
}

.read-row {
	background-color: white;
	border-radius: .25rem;
}

.row {
	color: black;
}

p {
	color: black;
	border-radius: .25rem;
	padding: .5rem;
}

.schrijfregels {
	background-color: white;
	color: black;
	border-radius: .25rem;
	padding: .5rem;
}

.table-color1 {
	background-color: goldenrod;
}

.table-color2 {
	background-color: rgb(219, 190, 114);
}